//=================================================================//
//  Define all base rules. Base rules are default, global styles.  //
//=================================================================//

//---------------//
//	Base imports //
//---------------//
@import "reset";


/*---------------
	General rules
---------------*/
* {
	@include box-sizing(border-box);

	@include selection {
		color: $color-background; background: $color-textSelect;
	}
}

html, body {
	width: 100%;
	height: 100%;
}


body {
	@include user-select(none);

	// Always define a body background color, otherwise it can be overwritten by user preference.
	background-color: $color-background;
}


/*-----------------
	Base typography
-----------------*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
}