/*--------------
    Webfonts  
--------------*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400);
/* line 1, ../scss/placeholders/_selectable.scss */
.message-body {
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}

/*---------------------
	Compass reset rules
---------------------*/
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*-----------------------
	Project's reset rules
-----------------------*/
/*---------------
	General rules
---------------*/
/* line 14, ../scss/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 2, ../scss/mixins/_selection.scss */
* ::-moz-selection {
  color: white;
  background: #EB1C24;
}
/* line 3, ../scss/mixins/_selection.scss */
* ::selection {
  color: white;
  background: #EB1C24;
}

/* line 22, ../scss/_base.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 28, ../scss/_base.scss */
body {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: white;
}

/*-----------------
	Base typography
-----------------*/
/* line 39, ../scss/_base.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
}

/* line 1, ../scss/layout/_app.scss */
#app {
  height: 100%;
}

/* line 1, ../scss/layout/_view.scss */
.view {
  overflow: hidden;
  height: 100%;
}

/* line 6, ../scss/layout/_view.scss */
.view-topbar {
  height: 60px;
}

/* line 10, ../scss/layout/_view.scss */
.view-body {
  height: calc(100% - (60px + 60px));
  overflow-y: auto;
}

/* line 15, ../scss/layout/_view.scss */
.view-bottombar {
  height: 60px;
}

/* line 5, ../scss/layout/_list.scss */
.list-item {
  height: 60px;
  padding: 10px;
}

/* line 1, ../scss/layout/_menu.scss */
.view_menu {
  z-index: 10;
  width: 100%;
  max-width: 240px;
  float: left;
}
@media screen and (max-width: 500px) {
  /* line 1, ../scss/layout/_menu.scss */
  .view_menu {
    max-width: 100%;
    -moz-transition-property: margin-left, opacity;
    -o-transition-property: margin-left, opacity;
    -webkit-transition-property: margin-left, opacity;
    transition-property: margin-left, opacity;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    margin-left: -100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  /* line 18, ../scss/layout/_menu.scss */
  .view_menu.is-open {
    margin-left: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}

/* line 1, ../scss/layout/_chat.scss */
.view_chat {
  min-width: 300px;
}
@media screen and (max-width: 500px) {
  /* line 1, ../scss/layout/_chat.scss */
  .view_chat {
    min-width: 100%;
  }
}

/* line 1, ../scss/modules/_menu.scss */
.view_menu {
  border-right: 1px #DDD solid;
}

/* line 5, ../scss/modules/_menu.scss */
.view_menu-topbar {
  border-bottom: 1px #DDD solid;
}

/* line 9, ../scss/modules/_menu.scss */
.view_menu-bottombar {
  border-top: 1px #DDD solid;
}

/* line 5, ../scss/modules/_chat.scss */
.view_chat-topbar {
  border-bottom: 1px #DDD solid;
  padding: 10px;
}
/* line 9, ../scss/modules/_chat.scss */
.view_chat-topbar .chat-conversation-name,
.view_chat-topbar .chat-conversation-meta {
  display: block;
  width: 100%;
  text-align: center;
}
/* line 16, ../scss/modules/_chat.scss */
.view_chat-topbar .chat-conversation-meta {
  color: #AAA;
}

/* line 21, ../scss/modules/_chat.scss */
.view_chat-bottombar {
  border-top: 1px #DDD solid;
  padding: 10px;
}

/* line 1, ../scss/modules/_message.scss */
.message {
  padding: 10px;
}

/* line 3, ../scss/modules/_input.scss */
.input.is-hidden {
  display: none;
}

/* line 1, ../scss/modules/_list.scss */
.list-item {
  border-bottom: 1px #DDD solid;
}
/* line 4, ../scss/modules/_list.scss */
.list-item:last-child {
  border-bottom: none;
}

/* line 9, ../scss/modules/_list.scss */
.conversation-item {
  cursor: pointer;
}
/* line 15, ../scss/modules/_list.scss */
.conversation-item .conversation-item-latest-message {
  color: #AAA;
}

/* line 5, ../scss/modules/_button.scss */
.button_menu {
  display: none;
}
@media screen and (max-width: 500px) {
  /* line 5, ../scss/modules/_button.scss */
  .button_menu {
    display: inline;
  }
}
