/*--------------
    Webfonts  
--------------*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400,600);
/* line 1, ../scss/placeholders/_selectable.scss */
.message-body {
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}

/*---------------------
	Compass reset rules
---------------------*/
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*-----------------------
	Project's reset rules
-----------------------*/
/* line 9, ../scss/_reset.scss */
input, button {
  outline: 0;
}

/*---------------
	General rules
---------------*/
/* line 14, ../scss/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 2, ../scss/mixins/_selection.scss */
* ::-moz-selection {
  color: white;
  background: #EB1C24;
}
/* line 3, ../scss/mixins/_selection.scss */
* ::selection {
  color: white;
  background: #EB1C24;
}

/* line 22, ../scss/_base.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 28, ../scss/_base.scss */
body {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: white;
}

/*-----------------
	Base typography
-----------------*/
/* line 39, ../scss/_base.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
}

/* line 1, ../scss/layout/_app.scss */
#app {
  height: 100%;
}

/* line 1, ../scss/layout/_view.scss */
.view {
  overflow: hidden;
  height: 100%;
}

/* line 6, ../scss/layout/_view.scss */
.view-topbar {
  height: 60px;
}

/* line 10, ../scss/layout/_view.scss */
.view-body {
  height: calc(100% - (60px + 60px));
  overflow-y: auto;
}

/* line 15, ../scss/layout/_view.scss */
.view-bottombar {
  height: 60px;
}

/* line 1, ../scss/layout/_menu.scss */
.view_menu {
  z-index: 10;
  width: 100%;
  max-width: 240px;
  float: left;
}
@media screen and (max-width: 500px) {
  /* line 1, ../scss/layout/_menu.scss */
  .view_menu {
    max-width: 100%;
    -moz-transition-property: margin-left, opacity;
    -o-transition-property: margin-left, opacity;
    -webkit-transition-property: margin-left, opacity;
    transition-property: margin-left, opacity;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    margin-left: -100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  /* line 18, ../scss/layout/_menu.scss */
  .view_menu.is-open {
    margin-left: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}

/* line 25, ../scss/layout/_menu.scss */
.view_menu-body {
  height: calc(100% - (60px));
}

/* line 1, ../scss/layout/_chat.scss */
.view_chat {
  min-width: 300px;
}
@media screen and (max-width: 500px) {
  /* line 1, ../scss/layout/_chat.scss */
  .view_chat {
    min-width: 100%;
  }
}

/* line 1, ../scss/modules/_menu.scss */
.view_menu {
  border-right: 1px #DDD solid;
}

/* line 5, ../scss/modules/_menu.scss */
.view_menu-topbar {
  border-bottom: 1px #DDD solid;
}

/* line 9, ../scss/modules/_menu.scss */
.view_menu-bottombar {
  border-top: 1px #DDD solid;
}

/* line 1, ../scss/modules/_chat.scss */
.view_chat {
  min-width: 300px;
}

/* line 5, ../scss/modules/_chat.scss */
.view_chat-topbar {
  border-bottom: 1px #DDD solid;
  padding: 10px;
  background-color: #FAFAFC;
}
/* line 10, ../scss/modules/_chat.scss */
.view_chat-topbar .chat-conversation-name,
.view_chat-topbar .chat-conversation-meta {
  display: block;
  width: 100%;
  text-align: center;
}
/* line 17, ../scss/modules/_chat.scss */
.view_chat-topbar .chat-conversation-meta {
  color: #BBB;
}

/* line 22, ../scss/modules/_chat.scss */
.view_chat-body {
  padding: 10px 30px;
}

/* line 26, ../scss/modules/_chat.scss */
.view_chat-bottombar {
  border-top: 1px #DDD solid;
  padding: 10px;
  background-color: #FAFAFC;
}

/* line 1, ../scss/modules/_message.scss */
.message {
  padding: 10px;
  display: block;
}
@media screen and (max-width: 500px) {
  /* line 1, ../scss/modules/_message.scss */
  .message {
    margin-bottom: 10px;
    max-width: 60%;
    min-width: 25%;
    clear: both;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    float: left;
    color: white;
    background-color: #4279FC;
  }
  /* line 20, ../scss/modules/_message.scss */
  .message .message-sent-by {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
  }
  /* line 25, ../scss/modules/_message.scss */
  .message.by-owner {
    float: right;
    color: inherit;
    background-color: #EFEFF9;
  }
  /* line 31, ../scss/modules/_message.scss */
  .message.by-owner .message-sent-timestamp {
    text-align: right;
  }
  /* line 35, ../scss/modules/_message.scss */
  .message.by-owner .message-sent-by {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}

/* line 42, ../scss/modules/_message.scss */
.message-sent-by {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.5em;
}
@media screen and (min-width: 501px) {
  /* line 42, ../scss/modules/_message.scss */
  .message-sent-by {
    color: #4279FC;
  }
}

/* line 52, ../scss/modules/_message.scss */
.by-owner .message-sent-by {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

@media screen and (max-width: 500px) {
  /* line 56, ../scss/modules/_message.scss */
  .by-owner .message-sent-by,
  .is-personal .message-sent-by {
    display: none;
  }
}

/* line 63, ../scss/modules/_message.scss */
.message-body {
  font-size: 1.2em;
  line-height: 1.5em;
}

/* line 70, ../scss/modules/_message.scss */
.message-sent-timestamp {
  display: block;
  font-size: 1.1em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  line-height: 1.5em;
}

/* line 3, ../scss/modules/_input.scss */
.input.is-hidden {
  display: none;
}

/* line 1, ../scss/modules/_list.scss */
.list-item {
  border-bottom: 1px #DDD solid;
}
/* line 4, ../scss/modules/_list.scss */
.list-item:last-child {
  border-bottom: none;
}

/* line 9, ../scss/modules/_list.scss */
.conversation-item {
  cursor: pointer;
  overflow: hidden;
  padding: 20px 10px;
}
/* line 15, ../scss/modules/_list.scss */
.conversation-item .conversation-item-name,
.conversation-item .message-preview,
.conversation-item .message-timestamp {
  line-height: 1.5em;
}
/* line 21, ../scss/modules/_list.scss */
.conversation-item .conversation-item-name {
  display: block;
  font-size: 1.2em;
}
/* line 26, ../scss/modules/_list.scss */
.conversation-item .message-preview,
.conversation-item .message-timestamp {
  color: #BBB;
  overflow: hidden;
  white-space: nowrap;
}
/* line 33, ../scss/modules/_list.scss */
.conversation-item .message-preview {
  float: left;
  max-width: 70%;
  font-size: 1.1em;
  text-overflow: ellipsis;
}
/* line 41, ../scss/modules/_list.scss */
.conversation-item .message-timestamp {
  float: right;
  max-width: 30%;
  font-size: 1.0em;
  text-align: right;
}
@media screen and (min-width: 501px) {
  /* line 49, ../scss/modules/_list.scss */
  .conversation-item.is-selected {
    background-color: #D1685F;
    color: white;
  }
  /* line 54, ../scss/modules/_list.scss */
  .conversation-item.is-selected .message-preview,
  .conversation-item.is-selected .message-timestamp {
    color: white;
  }
}

/* line 5, ../scss/modules/_button.scss */
.button_menu {
  display: none;
}
@media screen and (max-width: 500px) {
  /* line 5, ../scss/modules/_button.scss */
  .button_menu {
    display: inline;
  }
}
