//-------------//
//  Constants  //
//-------------//

// Sizes
$height-topbar: 60px;
$height-bottombar: 60px;
$height-listitem: 60px;
$padding-default: 10px;

// Font families


// Colors
$color-background: white;
$color-textSelect: #EB1C24;

// Other
