//-------------//
//  Constants  //
//-------------//

// Sizes
$height-topbar: 60px;
$height-bottombar: 60px;
$height-listitem: 60px;
$padding-default: 10px;
$width-menu: 240px;
$width-conversation: 300px;

// Font families


// Colors
$color-background: white;
$color-textSelect: #EB1C24;
$color-bodyVague: #999;
$color-bodyLight: white;
$color-highlight: #D1685F;
$color-active: #EB1C24;

// Media queries
$media-phone: "screen and (max-width: 500px)";
$media-desktop: "screen and (min-width: 501px)";

// Other
$border-ui: 1px #DDD solid;