//-------------//
//  Constants  //
//-------------//

// Sizes
$height-topbar: 60px;
$height-bottombar: 60px;
$height-listitem: 60px;
$padding-default: 10px;
$width-menu: 240px;
$width-conversation: 300px;

// Font families


// Colors
$color-background: white;
$color-textSelect: #EB1C24;
$color-bodyVague: #AAA;

// Media queries
$media-phone: "screen and (max-width: 500px)";

// Other
$border-ui: 1px #DDD solid;