.view_chat {
	min-width: $width-conversation;
}

.view_chat-topbar {
	background-color: $color-backgroundSecondary;

	.chat-conversation-name {
		display: block;
		line-height: $height-topbar * 0.6;
	}

	.chat-conversation-meta {
		display: block;
		font-size: 0.9em;
		color: $color-bodyVague;
		line-height: $height-topbar * 0.1;
	}
}

.view_chat-body {
	padding: $padding-default $padding-medium;
}

.view_chat-bottombar {
	background-color: $color-backgroundSecondary;
}