.list-item {
	border-bottom: $border-ui;

	&:last-child {
		border-bottom: none; 
	}
}

.conversation-item {
	cursor: pointer;

	.conversation-item-name {
	}

	.conversation-item-latest-message {
		color: $color-bodyVague;
	}
}