.view_menu {
	border-right: $border-ui;
}

.view_menu-topbar {
	border-bottom: $border-ui;

	.username {
		display: block;
		font-size: 1.6em;
		text-align: center;

	}
}

.view_menu-bottombar {
	border-top: $border-ui;
}