.view_new-conversation {
	min-width: $width-conversation;
}

.view_new-conversation-topbar {
	border-bottom: $border-ui;
	background-color: $color-backgroundSecondary;

	.new-conversation-conversation-name,
	.new-conversation-conversation-meta {
		display: block;
		width: 100%;
		text-align: center;
	}

	.new-conversation-conversation-name {
		font-size: 1.4em;
		line-height: $height-topbar * 0.6;
	}

	.new-conversation-conversation-meta {
		font-size: 1.2em;
		color: $color-bodyVague;
		line-height: $height-topbar * 0.1;
	}
}

.view_new-conversation-body {
	padding: $padding-default $padding-medium;
}

.view_new-conversation-bottombar {
	border-top: $border-ui;

	background-color: $color-backgroundSecondary;
}